body, div, dl, dt, dd, ul, ol, li,h1, h2, h3, h4, h5, h6, pre, code,form, fieldset, legend, input, button,textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

body {
    font-family: "微软雅黑", system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
    background: #f2f2f2;
    margin: 0 auto;
    width: 100%;
}

ul {
    list-style: none;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

img {
    vertical-align: middle;
}

a,
a:visited,
a:focus {
    text-decoration: none;
}

input[type=button],
input[type=text],
input[type=password],
input[type=tel] {
    -webkit-appearance: none;
    outline: none
}

input::-webkit-input-placeholder {
    font-size: 14px;
    color: #c8c8c8;
}

input[disabled] {
    color: #222;
    background: #fff;
}